.action-button {
    background-color: cornsilk;
    text-align: center;
    font-size: 12px;
    padding: 12px 24px;
    border: 1px solid black;
}

.rating-button {
    background-color: cornflowerblue;
    text-align: center;
    font-size: 16px;
    padding: 12px 12px;
    width: 5em;
    border: none;
}

.rating-button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 200px;
    padding: 20px;
}

.active {
    background: salmon;
}

.participant-table > table, td, th {
    margin: 20px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.participant-table > table {
    border-collapse: collapse;
}

