<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://unpkg.com/hyperscript.org@0.8.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Story point poker</title>
  </head>
  <body>
    {% if (not enable_home_link is defined) or enable_home_link %}
    <a href="/">home</a>
    {% endif %}
    {% block content %}
    {% endblock %}
  </body>
</html>
