<div class="rating-button-grid">
  {% for option in options %}
  <form hx-put="/sessions/{{ session_id }}/rating">
    <input class="rating-button" type="submit" name="rating" value="{{ option }}" _="on click remove .active from .rating-button then add .active" />
  </form>
  {% endfor %}
</div>

{% if user.is_admin %}
<form hx-put="/sessions/{{ session_id }}/state">
  <input hidden type="text" name="state" value="results" />
  <input class="action-button" type="submit" name="submit-state" value="Show results" />
</form>
{% endif %}
