<div>
  <div id="vis"></div>
  <script type="text/javascript">
    let spec = {
        "$schema": "https://vega.github.io/schema/vega-lite/v5.json",
        "data": {"values": {{ results | safe  }}},
        "mark": {"type": "bar"},
        "width": 300,
        "encoding": {
            "x": {
                "aggregate": "count",
                "field": "value",
                "title": "votes",
                "axis": {
                    "tickMinStep": 1
                }
            },
            "y": {"field": "value", "type": "ordinal"},
            "color": {
                "field": "user_name",
                "legend": {
                    "orient": "bottom"
                }
            }
        }
    };
    vegaEmbed('#vis', spec, {actions: false}).then(function(result) {}).catch(console.error);
  </script>
</div>

{% if user.is_admin %}
<form hx-put="/sessions/{{ session_id }}/state">
  <input hidden type="text" name="state" value="rating" />
  <input class="action-button" type="submit" name="submit-state" value="Rate another" />
</form>
{% endif %}
