{% extends "page.html" %}
{% block content %}
<div>
  <form action="/sessions/{{ session_id }}/login" method="post">
    <input type="text" name="user_name" value="Username" />
    <input type="submit" name="login-into-session" value="Submit" />
  </form>
</div>
{% endblock %}
