<div class="participant-table">
  <table>
    <tr>
      <th>Username</th>
      <th>is admin?</th>
      <th>did rate?</th>
    </tr>
    {% for participant in participants %}
    <tr>
      <td>{{ participant.name }}</td>
      <td>{{ '☑' if participant.is_admin else '☐' }}</td>
      <td>{{ '☑' if participant.did_rate else '☐' }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
