{% extends "page.html" %}
{% block content %}
<div>
  logged in as {{ user.name }}
</div>
<div hx-sse="connect:/sessions/{{ session_id }}/sse">
  <div
    hx-trigger="sse:participants_updated, load"
    hx-get="/sessions/{{ session_id }}/participants"
    >
  </div>

  <div
    hx-trigger="sse:session_state_updated, load"
    hx-get="/sessions/{{ session_id }}/ratings"
    >
  </div>
</div>
{% endblock %}
