{% if user.is_admin %}
<form hx-put="/sessions/{{ session_id }}/state">
  <input hidden type="text" name="state" value="{{ value }}" />
  <input class="action-button" type="submit" name="submit-state" value="{{ label }}" />
</form>
{% endif %}
